.logo {
  background-image: url('../img/main-logo.png');
  background-repeat: no-repeat;
  width: 165px;
  margin-top: 30px;
}
.menu {
  margin-top: 30px;
  display: flex;
}
.menu-img {
  background-image: url('../img/menu.png');
  width:20px;
  height: 20px;
 margin-left: 10px;
}
.menulogo {
  display:flex;
  justify-content: space-around;
}
.main-motto {
  display: flex;
  justify-content:center;
}
.btn-container {
  display:  flex;
  justify-content: center;
  margin-bottom: 50px;

  .button {
    margin: 0 15px;
  }
}
.main-arrow {
  display: flex;
  justify-content: center;
}
